@import "../../styles/variables.scss";

.input-content{
    border: none;
    outline: none;
    border-radius: 8px;

    color: $medium-grey;

    font-size: 14px;
    font-weight: 400;

    padding: 12px 24px;

    width: 233px;
    height: 42px;

    font-size: 14px;
    font-weight: 400;

}