@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


$blue-color: #3442B5;
$yellow-color: #F7CA11;
$puple-color: #271C47;
$medium-grey: #9F9F9F;
$strong-grey: #3F3F40;
$white-color: #FFFFFF;

$footer-grey-color: #F4F4F4;

$font-2: 'Work Sans';