@import "../../styles/variables.scss";

.section-title-container{
    margin-top: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;

    text-align: center;

    .divisor{
        height: 1px;
        width: 360px;
        background-color: #DEDEDE;
    }
    .title-section{
        font-size: 30px;
        font-weight: 700;
        color: $blue-color;
    }
}
